@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Interogari</h1>

    <a class="link-danger d-block" asp-action="PesteUnMilion" asp-controller="Orase">Orase cu peste 1 milion de locuitori</a>
    <a class="link-danger d-block" asp-action="DupaContinent" asp-controller="Tari">Tari dupa continent</a>
    <a class="link-danger d-block" asp-action="TariCuNrOrase" asp-controller="Tari">Tari cu nr de orase</a>
</div>
